@media (min-width:993px)
	.logo:hover
		transform: scale(1.1)
	.logo__image:hover
		transform: scale(1.1)
	.user__avatar:hover
		transform: scale(1.1)
	.user__name:hover
		text-decoration: underline
	.button:hover
		background: rgba(236, 31, 31, 0.6)
	// .search__button:hover
	// 	background: rgba(236, 31, 31, 0.6)
	.search__image:hover
		padding: 10px
		transform: scale(1.4)
	.subscribe__button:hover
		background: rgba(236, 31, 31, 0.6)
	.card__button:hover
		background: rgba(236, 31, 31, 0.6)
	.menu-link:hover
		text-decoration: underline
	.footer__link:hover
		text-decoration: underline
		transform: scale(1.05)
@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel__slider
		width: 590px
	.swiper
		&-slide
			&__image
				width: 100%
				height: 100%
				object-fit: cover
	.card
		width: 230px
		height: 230px
	.footer
		&__legal
			margin-left: 33px
		&__additional
			margin-left: -21px
		&__categories
			margin-right: 38px
		&__input
			flex-basis: 100%
@media (max-width: 992px)
	.container,
	.newsletter-wrapper
		max-width: 700px
		width: 95%
	.logo
		width: 132px
	.navbar
		&-top
			padding-top: 30px
			padding-bottom: 30px
		&__search
			margin-left: auto
		&-menu__list
			padding-top: 22px
			padding-bottom: 22px
		&-menu__link
			font-size: 12px
			line-height: 15px
	.search
		&__input
			width: 340px
	.hotel
		padding-bottom: 57px
		&-grid
			flex-direction: column
		&__slider
			margin-bottom: 30px
		&-right
			flex-direction: row
	.booking
		width: 48%
	#map
		width: 48%
	.hotel__slider
		width: 100%
	.newsletter
		padding: 70px 0 73px 0
	.reviews
		padding-top: 17px
		&__title
			font-size: 30px
			line-height: 38px
			margin-bottom: 50px
		&-slider
			&__button
				top: 49%
				transform: translateY(-45%)
				&--prev
					left: 2px
				&--next
					right: 0
			&__item
				max-width: 580px
				min-height: 300px
			&__text
				height: 134px
	.activities
		&-wrapper
			flex-wrap: wrap
		&__card
			margin-bottom: 20px
	.activities
		padding-top: 64px
		padding-bottom: 50px
	.card
		width: 49%
		height: 255px
		&__title
			padding-right: 84px
	.footer
		padding-top: 72px
		&-wrapper
			grid-template-columns: repeat(6, 1fr)
			grid-row-gap: 40px
			margin-bottom: 54px
		&__input
			flex-basis: 49%
		&__link
			&-logo
				grid-row: 1 / 2
				grid-column: span 2
				margin-top: 0
				width: 96px
				height: 120px
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: span 4
				align-self: center
		&__title
			&--inline
				margin-left: -53px
		&__categories
			grid-row: 2 / 3
			grid-column: span 2
		&__legal
			grid-column: span 2
			margin-left: 19px
		&__additional
			grid-column: span 2
			margin-left: -38px
		&__contact
			&-details
				grid-column: span 5
				grid-row: 3
				margin-top: 19px
				margin-left: 0
			&-form
				grid-column: span 5
				grid-row: 4
		&__form
			max-width: 539px
			margin-left: 0
			padding-top: 4px
		&-bottom
			grid-template-columns: minmax(300px, 693px) minmax(230px, 1fr)
			&__info
				justify-content: start
	.modal
		&__dialog
			padding: 33px 8%
		&__info
			width: 100%
			margin-top: 15px
		&__button
			order: 1

@media (max-width: 650px)
	.container
		max-width: 576px
		width: 92%
	body
		padding-top: 78px
	.navbar
		&__mobile
			&_fixed
				position: fixed
				left: 0
				top: 0
				right: 0
				z-index: 99
		&__search, &__user
			&_mobile
				&_hidden
					display: none
				&_visible
					display: flex
		&__user
			flex-direction: column
			justify-content: center
		&-menu
			display: none
			position: fixed
			left: 0
			right: 0
			bottom: 0
			top: 70px
			padding-top: 30px
			&--visible
				display: block
				overflow: scroll
			&__list
				flex-direction: column
			&__item
				margin-bottom: 20px
				&_mobile
					&_visible
						display: block
	.menu
		&-button
			display: flex
			width: 16px
			height: 11px
			padding: 0
			align-items: center
			justify-content: space-between
			flex-direction: column
			border: none
			background-color: #fff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.user
		&__name
			&--light
				color: $light
				margin-left: 0
				margin-top: 10px
	.stars
		flex-basis: auto
	.hotel
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-bottom: 0
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0
	.slider
		// width: 350px
	.hotel
		&-right
			flex-direction: column
			min-height: 450px
	.booking
		width: 100%
	#map
		width: 100%
	.newsletter
		&-wrapper
			max-width: 576px
			width: 92%
			flex-direction: column
			align-items: flex-start
	.reviews
		&-slider
			&__item
				padding: 0 30px 30px
				&::after, &::before
					display: none
			&__button
				top: 32px
				&--prev
					margin-left: -65px
					left: 50%
					transform: translate(-50%, 0)
				&--next
					right: 50%
					margin-right: -65px
					transform: translate(50%, 0)
	.footer
		&__legal
			margin-left: 30px
		&__additional
			margin-left: -3px
			margin-right: -20px
		&__link
			&-logo
				width: 104px
				height: 120px
		&__input
			&-group
				flex-basis: 100%
	.modal
		&__input
			width: 281px
		&__message
			width: 281px
	// .modal
	// 	overflow: scroll
@media (max-width: 576px)
	.logo
		width: 99px
	.hotel__slider
		height: 280px
	.hotel
		&__slider
			margin-bottom: 20px
	.newsletter
		padding: 76px 0 83px 0
		&__title
			margin-bottom: 37px
	.subscribe
		width: 100%
	.activities
		padding-top: 40px
		padding-bottom: 60px
	.card
		width: 100%
	.footer
		&-wrapper
			grid-template-columns: 1fr
		&__link
			&-logo
				grid-row: 1
				grid-column: 1
		&__social
			&-network
				grid-row: 2
				grid-column: 1
				flex-direction: column
			&-links
				margin-left: 9px
				margin-top: 3px
		&__title
			margin-bottom: 20px
			margin-top: -9px
			margin-left: 7px
		&__additional
			grid-row: 4
			grid-column: 1
			margin-left: 0
		&__categories
			grid-row: 5
			grid-column: 1
		&__legal
			grid-row: 3
			grid-column: 1
			margin-left: 0
		&__ul
			margin-left: 6px
			margin-top: -7px
		&__contact
			&-details
				grid-row: 6
				grid-column: 1
			&-form
				grid-row: 7
				grid-column: 1
		&-bottom
			&__info
				flex-direction: column
				align-items: start
			&__item-icon
				grid-row-start: 2
				justify-content: start
				margin-top: 10px
@media (min-width:320px) and (max-width:480px)
	.container
		min-width: 264px
	.navbar
		&-top
			padding-top: 22px
			padding-bottom: 29px
			&__menu-button
				margin-top: 6px
				margin-right: 7px
	.logo
		margin-left: 6px
	.search
		&__input
			width: 245px
	.breadcrumb
		&-list
			padding-top: 11px
			padding-bottom: 19px
			padding-left: 6px
	.hotel
		padding-top: 0
		padding-bottom: 20px
		&-info
			&__name
				padding-left: 7px
				margin-top: 9px
			&__offer
				padding: 4px 10px
				margin-left: 8px
			&__description
				padding-left: 7px
	.hotel-slider__button
		transform: translateY(-44%)
		background-size: 6px
	.hotel-slider__button--next
		background-image: url(../img/icon/arrow-next-mobil.svg)
		right: -1px
	.hotel-slider__button--prev
		background-image: url(../img/icon/arrow-prev-mobil.svg)
		left: -3px
	.stars
		flex-basis: 25%
	.hotel__slider
		height: 180px
		width: 95%
		margin-top: 20px
		margin-left: 7px
		border-top-right-radius: 8px
		border-bottom-right-radius: 8px
	.booking
		width: 95%
		margin-left: 8px
		padding-right: 21px
		padding-left: 22px
		&__number
			padding-right: 4px
	#map
		width: 95%
		margin-left: 8px
		margin-bottom: 8px
	.newsletter
		padding-top: 37px
		&-title
			font-style: normal
			font-weight: 300
			font-size: 20px
			line-height: 25px
			margin-top: 12px
			margin-left: 6px
			margin-bottom: 38px
			&__strong
				font-size: 30px
				line-height: 38px
				padding-top: 4px
		&__subscribe
			width: 95%
			margin-left: 7px
	.reviews
		&__title
			font-size: 18px
			line-height: 23px
			margin-top: 23px
			margin-bottom: 42px
			width: 219px
			margin-left: auto
			margin-right: auto
		&-slider
			&__item
				padding: 0 28px 36px
				max-width: 280px
				min-height: 438px
			&__text
				height: 268px
				width: 219px
				text-align: left
			&__button--prev
				margin-left: -91px
				transform: translate(-52%, -2px)
			&__button--next
				right: 20%
				margin-right: 0
				transform: translate(50%,-2px)
	.activities
		padding-top: 38px
		padding-bottom: 36px
		&__title
			font-size: 18px
			line-height: 23px
			margin-bottom: 36px
			padding-left: 7px
		&__card
			width: 95%
			margin-left: 7px
			margin-bottom: 23px
	.card__title
		padding-right: 21px
	.footer
		padding-top: 67px
		&__legal
			grid-row: 3
			grid-column: 1
			margin-left: 0
		&__additional
			grid-row: 4
			grid-column: 1
			margin-left: 0
		&__categories
			grid-row: 5
			grid-column: 1
		&__social
			&-network
				flex-direction: column
			&-links
				margin-left: 9px
				margin-top: 3px
		&__contact-details
			margin-top: 10px
		&__ul
			margin-left: 6px
			margin-top: -7px
		&__title
			margin-bottom: 20px
			margin-top: -9px
			margin-left: 7px
		&__text
			line-height: 20px
			margin-top: 27px
			margin-bottom: 29px
			margin-left: 6px
			padding-right: 5px
		&__item
			&--mb-2
				margin-left: -10px
		&__icon-wrapper
			margin-left: 15px
		&__contact-form
			margin-top: 7px
		&__form
			margin-top: -5px
			padding-top: 0
		&__input-group
			flex-basis: 95%
			margin-left: 7px
		&__message
			flex-basis: 95%
			margin-left: 7px
			margin-bottom: 15px
		&__button
			order: 2
			margin-left: 6px
		&__info
			margin-right: 186px
			margin-bottom: 15px
			margin-left: 6px
		&-bottom
			grid-template-columns: 1fr
			margin-top: -26px
			&__item-icon
				margin-left: 6px
			&__info
				padding-left: 6px
		&-bottom__link:nth-child(-n+2)
			margin-right: 5px
	.modal
		&__dialog
			width: 300px
		&__input
			max-width: 100%
@media (max-height: 460px)
	.modal
		&__dialog
			&--visible
				max-height: 95vh
				overflow: auto
		&__button
			margin-bottom: 20px
@media (max-height: 380px)
	.modal
		&__dialog
			&--visible
				max-height: 83vh
				overflow: auto
		&__button
			margin-bottom: 20px
